<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #grid{
            background-color: blueviolet;
            padding: 20px;
            display: grid;
            grid-column-gap:20px ;
            grid-row-gap: 15px;
            grid-template-columns: 200px  auto 200px;
        }
        .gi{
            background-color: aquamarine;
            font-size: 20px;
            padding: 20px;
            margin: 15px;
        }
    </style>
</head>
<body>
    <div id="grid">
        <div class="gi">Box 1</div>
        <div class="gi">Box 2</div>
        <div class="gi">Box 3</div>
        <div class="gi">Box 4</div>
        <div class="gi">Box 5</div>
        <div class="gi">Box 6</div>
        <div class="gi">Box 7</div>
        <div class="gi">Box 8</div>
        <div class="gi">Box 9</div>
        <div class="gi">Box 10</div>
        <div class="gi">Box 11</div>
        <div class="gi">Box 12</div>
        <div class="gi">Box 13</div>
        <div class="gi">Box 14</div>
        <div class="gi">Box 15</div>
        
    </div>
</body>
</html>